# Attack Data Analysis

The data we use here come from: xxxxxxxxxx [please specify data source]

In [1]:
#Import packages
import pandas as pd
import numpy as np

In [2]:
#read the file
data = pd.read_excel('cyber-operations-incidents.xlsx', sheet_name = 'cyber-operations-incidents')
#replace NaN values with ''
data = data.replace(np.nan,'')

In [3]:
#print out first 10 items
data.head(5)

,Title,Date,Affiliations,Description,Response,Victims,Sponsor,Type,Category
0,Compromise of Bayer Pharmaceuticals,1554336000000000000,Wicked Panda,A threat actor put malicious software on Bayer...,,Bayer Pharmaceuticals,China,Data destruction,Private sector
1,Targeting of senior members of Tibetan groups,1569283200000000000,Believed to be the work of Poison Carp.,A threat actor aimed to infect mobile phones b...,,Tibet,China,Espionage,"Civil society, Government"
2,"Targeting of German energy technology, chemica...",1563926400000000000,Believed to be the work of Winnti.,A threat actor used a Trojan horse to gain rem...,,Germany,China,Espionage,Private sector
3,Cyber espionage by the United Arab Emirates (UAE),1548806400000000000,Believed to be the work of the UAE government.,Former U.S. government intelligence operatives...,,"Qatar, Turkey, Yemen",United Arab Emirates,Espionage,"Government, Civil society"
4,Targeting of U.S. university and think tank wi...,1550793600000000000,,"A threat actor used the malware BabyShark, whi...",,,Korea (Democratic People's Republic of),Espionage,Private sector

## Analysis of attack victims

1. separate Victims based on ','

In [4]:
#split victims in column 'Victims' based on ','.
victims = []
for item in data['Victims']:
    if item != '':
        victims += item.split(',')

In [5]:
#clean up the extra whitespaces around victim names
for i in range(len(victims)):
    victims[i] = victims[i].strip()

In [6]:
#remove all ''s from list. make sure no ''s in the list
while '' in victims:
    victims.remove('')

In [8]:
victims

['Bayer Pharmaceuticals',
 'Tibet',
 'Germany',
 'Qatar',
 'Turkey',
 'Yemen',
 'Global telecommunications companies',
 'Tibetans',
 'Uighurs',
 'Center for Strategic and International Studies',
 'German Council on Foreign Relations',
 'The Aspen Institutes in Europe',
 'The German Marshall Fund',
 'French Ministry for Europe and European Affairs',
 'Ministry of Foreign and European Affairs of the Slovak Republic',
 'Stanford University',
 'Sina',
 'Foreign ministry of the South African government',
 'Iranian rocket and missile launch systems',
 'Foreign Ministry of the Czech Republic',
 'United States',
 'Visma',
 'Unnamed U.S.-based entities',
 'Yandex',
 'Russia',
 'U.S. private sector',
 'United States',
 'France',
 'Japan',
 'Singapore',
 'United Kingdom',
 'Hong Kong',
 'University of Hawaii',
 'University of Washington',
 'Massachusetts Institute of Technology',
 'Pennsylvania State University',
 'Duke University',
 'An unnamed U.S. presidential campaign',
 'Bahrain',
 'Singapore',
 'Russia',
 'United Kingdom',
 'Hong Kong',
 'Indonesia',
 'Airbus',
 'China',
 'Belgium',
 'Luxembourg',
 'The Philippines',
 'and Vietnam',
 'United States',
 'South Korea',
 'Canada',
 'Lebanon',
 'United Arab Emirates',
 'Amnesty International Hong Kong',
 'Democratic National Committee',
 'British Post Office and local government networks',
 'Democratic National Committee',
 'United States',
 'United Kingdom',
 'Australia',
 'Canada',
 'Hong Kong',
 'Switzerland',
 'Islamic State Group',
 'Westinghouse Electric Company',
 'South Korea',
 'United States',
 'Ukraine',
 'Republic of Korea',
 'Japan',
 'Vietnam',
 'Germany',
 'Omar Abdulaziz',
 'Mongolia',
 'Worldwide',
 'United States',
 'United Kingdom',
 'Ukraine',
 'United States',
 'Spain',
 'Russian Federation',
 'United Kingdom',
 'Australia',
 'Germany',
 'India',
 'Candidates for the U.S. Congress',
 'South Korea',
 'United States',
 'United Nations',
 'UNICEF',
 'Australia',
 'Canada',
 'China',
 'Denmark',
 'Germany',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Malaysia',
 'Netherlands',
 'Norway',
 'Poland',
 'Singapore',
 'Republic of Korea',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'United Kingdom',
 'Singapore',
 'Cambodia',
 'Yahya Assiri',
 'SingHealth',
 'South Korea',
 'Japan',
 'United States',
 'Kenya',
 'Mongolia',
 'Brazil',
 'Saudi Arabia',
 'Egypt',
 'Turkey',
 'Iraq',
 'Spain',
 'Norway',
 'Australia',
 'South Korea',
 'Palestine',
 'Egypt',
 'Jordan',
 'United Arab Emirates',
 'Saudi Arabia',
 'Djibouti',
 'Qatar',
 'Chile',
 'Lebonon',
 'Somalia',
 'Iraq',
 'Morocco',
 'Syria',
 'India',
 'Iran',
 'Canada',
 'United States',
 'United Kingdom',
 'Germany',
 'Israel',
 'Afghanistan',
 'Serbia',
 'Russia',
 'Oman',
 'Kuwait',
 'South Korea',
 'Denmark',
 'United States',
 'United Kingdom',
 'India',
 'Thailand',
 'Guatemala',
 'Germany',
 'France',
 'Canada',
 'Brazil',
 'China',
 'Bangladesh',
 'Thailand',
 'Hong Kong',
 'Japan',
 'Australia',
 'Germany',
 'United States',
 'South Africa',
 'Kenya',
 'United Kingdom',
 'Malaysia',
 'Suriname',
 'Turkey',
 'Turkmenistan',
 'Ukraine',
 'Romania',
 'Portugal',
 'Afghanistan',
 'Japan',
 'United States',
 'United Kingdom',
 'Japan',
 'South Korea',
 'China',
 'Iraq',
 'Pakistan',
 'Israel',
 'United Kingdom',
 'United States',
 'Mexico',
 'Chile',
 'Brazil',
 'Uruguay',
 'Poland',
 'Turkey',
 'Bangladesh',
 'Malaysia',
 'Vietnam',
 'Russia',
 'Phillipines',
 'Taiwan',
 'Aerospace companies based in Arizona',
 'Massachusetts',
 'and Oregon',
 'European Ice Hockey Federation',
 'International Ski Federation',
 'International Biathlon Union',
 'International Bobsleigh and Skeleton Federation',
 'International Luge Federation',
 'United States',
 'AMC Theatres',
 'European Union',
 'United Nations',
 'American Federation of Labor and Congress of Industrial Organizations',
 'Cambodia',
 'Organization for the Prohibition of Chemical Weapons',
 'United States',
 'United States',
 'Austal Ltd',
 'Networks and clients of Hewlett Packard Enterprise',
 'IBM',
 'Fujitsu',
 'Tata Consultancy Services',
 'NTT Data',
 'Dimension Data',
 'Computer Sciences Corporation',
 'and DXC Technology',
 'United States',
 'Mammoth Screen',
 'Saipem',
 'India',
 'U.S. Anti-Doping Agency',
 'Turkey',
 'Ukraine',
 'United States',
 'Canada',
 'Germany',
 'Lebanon',
 'France',
 'Qatar',
 'United States',
 'South Korea',
 'United States',
 'Court of Arbitration for Sport',
 'Ukraine',
 'Mexican journalists',
 'United States',
 'Canada',
 'Australia',
 'Japan',
 'China',
 'Republic of Korea',
 'Taiwan',
 'Thailand',
 'Russia',
 'India',
 'Israel',
 'Iran',
 'Russia',
 'France',
 'The Netherlands',
 'Switzerland',
 'Germany',
 'Ukraine',
 'United States',
 'Australia',
 'Canadian Centre for Ethics in Sport',
 'Germany',
 'Russian Federation',
 'Germany',
 'China',
 'Uighurs',
 'Federation Internationale de Football Association (FIFA)',
 'Pakistan',
 'Afghanistan',
 'India',
 'Iraq',
 'United Arab Emirates',
 'United States',
 'Australia',
 'Germany',
 'United States',
 'Marriott International Inc',
 'United States',
 'Republic of Korea',
 'United States',
 'Australia',
 'Canada',
 'China',
 'Israel',
 'Japan',
 'Switzerland',
 'Turkey',
 'United Kingdom',
 'United States',
 'Switzerland',
 'Ukraine',
 'Japan',
 'Russia',
 'Bulgaria',
 'Turkey',
 'Saudi Arabia',
 'Iraq',
 'United Arab Emirates',
 'Georgia',
 'Israel',
 'Pakistan',
 'Turkey',
 'India',
 'United States',
 'International Association of Athletics Federations',
 'Panama',
 'Far Eastern International Bank',
 'Islam Channel',
 'United States',
 'The Philippines',
 'Asia Pacific Economic Cooperation',
 'Hong Kong',
 'Rosneft',
 'WPP Plc.',
 'Maersk',
 'Cie de Saint-Gobain',
 'SNCF',
 'Merck',
 'Mondelez',
 'Port of Rosario',
 'Kyivenergo',
 'The government of Ukraine',
 'Ethnic minorities in China',
 'Japan',
 'Korea (Republic of)',
 'Russian Federation',
 'China',
 "Moody's Analytics",
 'Siemens',
 'Trimble',
 'Japan',
 'United States',
 'United Kingdom',
 'India',
 'Canada',
 'Brazil',
 'South Africa',
 'Australia',
 'Thailand',
 'South Korea',
 'France',
 'Switzerland',
 'Sweden',
 'Finland',
 'Norway',
 'New Zealand',
 'Kaspersky Labs',
 'Middle East',
 'Belarus',
 'United States',
 'UK Parliament',
 'Israel',
 'Saudi Arabia',
 'United States',
 'Jordan',
 'Germany',
 'Czech Republic',
 'Argentina',
 'Brazil',
 'Peru',
 'Ecuador',
 'Brunei',
 'Malaysia',
 'United States',
 'Qatar News Agency',
 'Bellingcat',
 'FedEx',
 'UK National Health Service',
 'Telefonica',
 'Deutsche Bahn',
 'PetroChina',
 'Hitachi',
 'Renault',
 'Nissan',
 'Sberbank',
 'United States',
 'Saudi Arabia',
 'South Korea',
 'Ethiopian dissidents',
 'North Korea',
 'Montenegro',
 'Cryptocurrency exchanges in South Korea',
 'Ministry of Defense',
 'North Korea',
 'The 2016 presidential campaign of Marco Rubio',
 'Global',
 'Montenegro',
 'Denmark',
 "Emmanuel Macron's 2017 presidential election campaign",
 'Saudi Arabia',
 'United States',
 'United Kingdom',
 'Uzbekistan',
 'South Korea',
 'Italy',
 'Ukraine',
 'Russia',
 'Saudi Arabia',
 'Austria',
 'United States',
 'Norway',
 'Israel Defense Force',
 'Aristegui Noticias',
 'Carlos Loret de Mola',
 'Mexicans against Corruption and Impunity',
 'Centro PRODH',
 'Mexican Institute for Competitiveness',
 'General Authority of Civil Aviation of Saudi Arabia',
 'Bangladesh Central Bank',
 'Tien Phong Bank',
 'Banco Del Austro',
 'Poland',
 'South Korea',
 'Sweden',
 'United Arab Emirates',
 'United Kingdom',
 'Democratic National Committee',
 'Democratic Congressional Campaign Committee',
 'Israel',
 'Turkey',
 'Qatar',
 'Kuwait',
 'Saudi Arabia',
 'Lebanon',
 'United States',
 'The Islamic State Group',
 'World Anti-Doping Agency',
 'China',
 'Taiwan',
 'South Korea',
 'United States',
 'Russia',
 'Yahoo',
 'United States',
 'European Union',
 'Australia',
 'South Korea',
 'Sony Pictures Entertainment',
 'United States',
 'Bangladesh Bank',
 'Israel',
 'United States',
 'Denmark',
 'Iran',
 'United Kingdom',
 'Canada',
 'France',
 'Germany',
 'Russia',
 'China',
 'Syria',
 'Saudi Arabia',
 'Sweden',
 'Italy',
 'Bahrain',
 'Myanmar',
 'Russia',
 'South Korea',
 'Myanmar',
 'Canada',
 'United States',
 'Germany',
 'India',
 'South Korea',
 'Singapore',
 'Switzerland',
 'Ukraine',
 'Ministry of Foreign Affairs',
 'Iran',
 'Yahoo',
 'Russia',
 'Belgium',
 'Sweden',
 'Iran',
 'China',
 'Rwanda',
 'Philippines',
 'Ukrenergo',
 'Egypt',
 'Israel',
 'South Korea',
 'Ukraine Armed Forces',
 'Japan',
 'Taiwan',
 'Kazakh dissidents',
 'Council on Foreign Relations',
 'Brookings Institution',
 'China',
 'Hong Kong',
 'Taiwan',
 'Myanmar',
 'India',
 'Thailand',
 'South Korea',
 'Saudi Arabia',
 'Malaysia',
 'United States',
 'Vietnam',
 'Cambodia',
 'Indonesia',
 'Myanmar',
 'China',
 'Laos',
 'Singapore',
 'Phillipines',
 'Anthem',
 'China',
 'United States',
 'Philippines',
 'Germany',
 'Vietnam',
 'Association of Southeast Asian Nations',
 'Cambodia',
 'Laos',
 'Vietnam',
 'Ukraine',
 'Iran',
 'Saudi Arabia',
 'United Arab Emirates',
 'Israel',
 'Jordan',
 'Turkey',
 'United States',
 'United Kingdom',
 'Hong Kong',
 'United States',
 'United Kingdom',
 'France',
 'TV5 Monde',
 'Thailand',
 'United States',
 'Uganda',
 'Saudi Arabia',
 'Israel',
 'Yemen',
 'Venezuela',
 'Iraq',
 'United Kingdom',
 'Afghanistan',
 'Kuwait',
 'Egypt',
 'United Arab Emirates',
 'Turkey',
 'Syria',
 'Iran',
 'Canada',
 'Jordan',
 'Iran',
 'Russia',
 'Pakistan',
 'Afghanistan',
 'India',
 'China',
 'Syria',
 'Mali',
 'Lebanon',
 'Yemen',
 'Algeria',
 'United Arab Emirates',
 'Kenya',
 'United Kingdom',
 'Libya',
 'Pentagon',
 'Office of Personnel Management',
 'Malaysia',
 'Philippines',
 'India',
 'Indonesia',
 'United States',
 'Joint Chiefs of Staff',
 'United Airlines',
 'Ukraine',
 'Seoul Subway System',
 'GitHub',
 'Permanent Court of Arbitration',
 'White House',
 'U.S Department of State',
 'Members of the National Assembly',
 'Japan',
 'Dutch Safety Board',
 'Ministry of Foreign Affairs',
 'Ministry of the Interior',
 'Ministry of Defense',
 'U.S. Department of State',
 'Bundestag',
 'Bureau of Meteorology',
 'Japan Pension Service',
 'Prikarpattiaoblenergo Electric Company',
 'United States',
 'Spain',
 'Japan',
 'Germany',
 'France',
 'Italy',
 'Turkey',
 'Ireland',
 'Poland',
 'China',
 'Russia',
 'Ukraine',
 'United Kingdom',
 'Greece',
 'Japan',
 'Taiwan',
 'Russia',
 'Contractors of U.S. Transportation Command',
 'France',
 'Russia',
 'Belarus',
 'Romania',
 'United States',
 'Netherlands',
 'Kazakhstan',
 'Saudi Arabia',
 'Iran',
 'Poland',
 'Germany',
 'Uzbekistan',
 'Tajikistan',
 'India',
 'Iraq',
 'United States',
 'Sony Pictures Entertainment',
 'United States',
 'United Kingdom',
 'Germany',
 'Netherlands',
 'Belgium',
 'Switzerland',
 'Italy',
 'Russia',
 'China',
 'Japan',
 'Indonesia',
 'Georgia',
 'NATO',
 'OSCE',
 'France',
 'Ukraine',
 'United Kingdom',
 'Jordan',
 'Belgium',
 'Germany',
 'United States',
 'Pakistan',
 'Poland',
 'Hungary',
 'Asia Pacific Economic Cooperation',
 'European Commission',
 'World Anti-Doping Agency',
 'International Association of Athletics Federations',
 'Afghanistan',
 'Armenia',
 'Turkey',
 'Kazakhstan',
 'Tajikistan',
 'Mongolia',
 'China',
 'Japan',
 'Canada',
 'Organization for the Prohibition of Chemical Weapons',
 'Court of Arbitration for Sport',
 'Federation Internationale de Football Association',
 'Russia',
 'Ukraine',
 'Poland',
 'Lithuania',
 'Belarus',
 'Azerbaijan',
 'Kyrgyzstan',
 'Kazakhstan',
 'Iran',
 'Israel',
 'Georgia',
 'U.S. government/defense sector websites',
 'Israel',
 'United Kingdom',
 'Saudi Arabia',
 'Iraq',
 'United States',
 'Community Health Systems',
 'Las Vegas Sands Corporation',
 'Westinghouse',
 'Solar World',
 'U.S. Steel',
 'ATI',
 'USW',
 'Alcoa',
 'Unnamed German steel mill',
 'United States',
 'Venezuela',
 'Ecuador',
 'Colombia',
 'Russia',
 'Brazil',
 'Peru',
 'Cuba',
 'Spain',
 'Sweden',
 'China',
 'Germany',
 'United States',
 'Belgium',
 'France',
 'Malaysia',
 'National Research Council',
 'Japan',
 'Taiwan',
 'USIS',
 'Morocco',
 'Brazil',
 'United Kingdom',
 'France',
 'Spain',
 'Switzerland',
 'Libya',
 'United States',
 'Iran',
 'Venezuela',
 'South Africa',
 'Germany',
 'Poland',
 'Tunisia',
 'Pro-democracy occupy central activists',
 'Syria',
 'Iran',
 'Malaysia',
 'United States',
 'China',
 'Turkey',
 'Netherlands',
 'Germany',
 'United Kingdom',
 'Russia',
 'Algeria',
 'Ivory Coast',
 'Spain',
 'Norway',
 'Greece',
 'Apple iCloud in China',
 'United States',
 'Iranian internet activists',
 'U.S. Department of State',
 'Japan',
 'Taiwan',
 'China',
 'Russia',
 'South Korea',
 'U.S. Postal Service',
 'Algeria',
 'Afghanistan',
 'Belgium',
 'Brazil',
 'Fiji',
 'Germany',
 'Iran',
 'India',
 'Indonesia',
 'Kiribati',
 'Malaysia',
 'Pakistan',
 'Syria',
 'Russia',
 'U.S. satellite and aerospace sector',
 'National Oceanic and Atmospheric Agency',
 'Canada',
 'China',
 'United Kingdom',
 'France',
 'Germany',
 'India',
 'Israel',
 'United States',
 'Kuwait',
 'Mexico',
 'Pakistan',
 'Qatar',
 'Saudi Arabia',
 'South Korea',
 'Turkey',
 'Japan',
 'Hong Kong',
 'Taiwan',
 'Philippines',
 'Indonesia',
 'Vietnam',
 'Ukraine',
 'Russia',
 'Kazakhstan',
 'Belarus',
 'India',
 'Czech Republic',
 'Ministry of Unification',
 'Sejong Institute',
 'Korea Institute for Defense Analyses',
 'Hong Kong',
 'United States',
 'European Union',
 'India',
 'United Kingdom',
 'United States',
 'Georgia',
 'Brazil',
 'China',
 'Japan',
 'Mexico',
 'New Zealand',
 'South Korea',
 'Turkey',
 'Ukraine',
 'Belgium',
 'Portugal',
 'Romania',
 'Kazakhstan',
 'India',
 'Bangladesh',
 'Sri Lanka',
 'Pakistan',
 'Ministry for Foreign Affairs',
 'United States',
 'United Kingdom',
 'Hong Kong',
 'South Korea',
 'Japan',
 'China',
 'United States',
 'Germany',
 'United States',
 'Russia',
 'Kazakhstan',
 'Azerbaijan',
 'Belgium',
 'India',
 'Afghanistan',
 'Armenia',
 'Iran',
 'Turkmenistan',
 'Ukraine',
 'United States',
 'Vietnam',
 'Belarus',
 'Greece',
 'Italy',
 'European Aeronautic Defense and Space Company (EADS)',
 'ThyssenKrupp',
 'United States',
 'United Kingdom',
 'Switzerland',
 'Taiwan',
 'Singapore',
 'Canada',
 'Israel',
 'India',
 'France',
 'Norway',
 'Belgium',
 'Luxembourg',
 'United Arab Emirates',
 'South Africa',
 'Japan',
 'Indian Defense Research Organization',
 'Defense Research and Development Lab',
 'Hungary',
 'Belarus',
 'South Korea',
 'United States',
 'Germany',
 'Sweden',
 'United Kingdom',
 'Australia',
 'Australian Security Intelligence Organization',
 'Department of the Prime Minister and Cabinet',
 'Department of Defense',
 'Department of Foreign Affairs',
 'and Trade',
 'U.S. Navy',
 'Mongolia',
 'India',
 'Russia',
 'Kazakhstan',
 'Kyrgyzstan',
 'China',
 'Tajikstan',
 'South Korea',
 'Spain',
 'Germany',
 'United States',
 'Canada',
 'United Kingdom',
 'Chile',
 'Morocco',
 'Saudia Arabia Aramco Company',
 'Lebanon',
 'Palestine',
 'Israel',
 'United States',
 'Iran',
 'United Arab Emirates',
 'Qatar',
 'Jordan',
 'Germany',
 'Egypt',
 'BBC Persian TV',
 'United States',
 'Hong Kong',
 'Taiwan',
 'Canada',
 'Australia',
 'China',
 'United Kingdom',
 'India',
 'Denmark',
 'Switzerland',
 'India',
 'United States',
 'United Kingdom',
 'Spain',
 'France',
 'Bank of America',
 'Citigroup',
 'Wells Fargo',
 'US Bancorp',
 'PNC',
 'Capital One',
 'Fifth Third Bank',
 'BB&T',
 'HSBC',
 'Bank of America',
 'Citigroup',
 'Wells Fargo',
 'US Bancorp',
 'PNC',
 'Capital One',
 'Fifth Third Bank',
 'BB&T',
 'HSBC',
 'Coca-Cola',
 'India',
 'Japan',
 'Iran',
 'Israel',
 'Palestine',
 'Sudan',
 'Syria',
 'Lebanon',
 'Saudi Arabia',
 'Egypt',
 'Hungary',
 'Austria',
 'Russia',
 'United Arab Emirates',
 'France',
 'Iran',
 'Israel',
 'United States',
 'Pakistan',
 'Nortel Networks',
 'National Agricultural Cooperative Federation',
 'Oak Ridge National Laboratory',
 'United States',
 'Canada',
 'South Korea',
 'Taiwan',
 'Japan',
 'Switzerland',
 'United Kingdom',
 'Indonesia',
 'Vietnam',
 'Singapore',
 'Hong Kong',
 'Germany',
 'India',
 'United Nations',
 'International Olympic Committee',
 'Democratic Progressive Party',
 'DigiNotar',
 'Mitsubishi Heavy Industries',
 'United States',
 'Bangladesh',
 'United Kingdom',
 'Argentina',
 'Singapore',
 'China',
 'Taiwan',
 'Germany',
 'Czech Republic',
 'Hong Kong',
 ...]

2. count the occurrance of each victim

In [9]:
victims_count = {}

for item in victims:
    if item in victims_count:
        victims_count[item] += 1
    else:
        victims_count[item] = 1

3. differenciate countries and others (e.g., organizations, governments, etc.)

In [26]:
#create 
country_names = ['Afghanistan', 'Aland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of', 'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Congo, the Democratic Republic of the', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Islands', 'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, the former Yugoslav Republic of', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine, State of', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthelemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin (French part)', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sandwich Islands', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe', 'South Korea', 'Iran','Russia','Taiwan','Vietnam','Republic of Korea','Venezuela','Palestine','Phillipines','North Korea','Syria','Tajikstan','Brunei','Tibet']

In [27]:
#create a list includes all country names
victims_countries = {}
victims_organizations = {}
for item in victims_count.keys():
    if item in country_names:
        victims_countries[item] = victims_count[item]
    else:
        victims_organizations[item] = victims_count[item]

In [28]:
#convert 2 counts into tables
#sort based on counts
victims_countries_table = pd.DataFrame(victims_countries.items(),columns = ['victims','count'])
victims_countries_table = victims_countries_table.sort_values(by=['count'], ascending=False, ignore_index= True) 
victims_organizations_table = pd.DataFrame(victims_organizations.items(),columns = ['victims','count'])
victims_organizations_table = victims_organizations_table.sort_values(by=['count'], ascending=False, ignore_index= True)
#ignore_index reassign index

In [29]:
victims_countries_table

            victims  count
0     United States     80
1    United Kingdom     39
2           Germany     33
3       South Korea     30
4             India     28
..              ...    ...
108            Oman      1
109          Serbia      1
110         Somalia      1
111        Djibouti      1
112        Slovakia      1

[113 rows x 2 columns]

In [30]:
victims_organizations_table

                         victims  count
0                           NASA      5
1    Ministry of Foreign Affairs      4
2     U.S. Department of Defense      4
3       U.S. Department of State      4
4                 United Nations      4
..                           ...    ...
261                Deutsche Bahn      1
262                   PetroChina      1
263                      Hitachi      1
264                      Renault      1
265               UK Think Tanks      1

[266 rows x 2 columns]

In [31]:
#export victims counts into the original Excel file but in tab 'Most_Attacked_Countries'
table = pd.concat([victims_countries_table,victims_organizations_table])
table.to_excel('result.xlsx', sheet_name = 'Most_Attacked_Countries', index = False)

#### Second, I would like to count the types of attacks (espionage, sabotage, data destruction, defacement, denial of service) for each victim.

In [61]:
#take attack types and victims from original data and make them into a table
type_table = pd.DataFrame(data,columns=['Victims','Type'])

1. count espionage attacks

In [62]:
#in type_table, only keep the rows that is Espionage
espionage_table = type_table[type_table.Type == 'Espionage']

# in espionage_table, only keep the ones that have no missing value
espionage_table = espionage_table[espionage_table.Victims != '']

In [63]:
espionage_table.head(5)

                               Victims       Type
1                                Tibet  Espionage
2                              Germany  Espionage
3                 Qatar, Turkey, Yemen  Espionage
5  Global telecommunications companies  Espionage
6                   Tibetans , Uighurs  Espionage

In [64]:
#take Victims column and split based on ','
espionage_victims = []
for item in espionage_table['Victims']:
    if item != '':
        espionage_victims += item.split(',')

In [67]:
#clean up the extra whitespaces around victim names
for i in range(len(espionage_victims)):
    espionage_victims[i] = espionage_victims[i].strip()

In [71]:
#remove all ''s from list. make sure no ''s in the list
while '' in espionage_victims:
    espionage_victims.remove('')

In [72]:
#count how many times each victims occurred
espionage_count = {}

for item in espionage_victims:
    if item in espionage_count:
        espionage_count[item] += 1
    else:
        espionage_count[item] = 1

In [73]:
espionage_count

{'Tibet': 1,
 'Germany': 31,
 'Qatar': 6,
 'Turkey': 15,
 'Yemen': 3,
 'Global telecommunications companies': 1,
 'Tibetans': 1,
 'Uighurs': 2,
 'Center for Strategic and International Studies': 1,
 'German Council on Foreign Relations': 1,
 'The Aspen Institutes in Europe': 1,
 'The German Marshall Fund': 1,
 'Foreign Ministry of the Czech Republic': 1,
 'United States': 75,
 'Visma': 1,
 'Yandex': 1,
 'France': 15,
 'Japan': 22,
 'Singapore': 8,
 'United Kingdom': 35,
 'Hong Kong': 13,
 'University of Hawaii': 1,
 'University of Washington': 1,
 'Massachusetts Institute of Technology': 1,
 'Pennsylvania State University': 1,
 'Duke University': 1,
 'An unnamed U.S. presidential campaign': 1,
 'Indonesia': 8,
 'Airbus': 1,
 'China': 27,
 'Belgium': 8,
 'Luxembourg': 2,
 'The Philippines': 2,
 'and Vietnam': 1,
 'South Korea': 23,
 'Canada': 17,
 'Lebanon': 5,
 'United Arab Emirates': 10,
 'Amnesty International Hong Kong': 1,
 'Democratic National Committee': 3,
 'British Post Office and local government networks': 1,
 'Australia': 12,
 'Switzerland': 12,
 'Westinghouse Electric Company': 1,
 'Ukraine': 13,
 'Omar Abdulaziz': 1,
 'Mongolia': 3,
 'Spain': 9,
 'Russian Federation': 4,
 'India': 27,
 'Candidates for the U.S. Congress': 1,
 'United Nations': 4,
 'UNICEF': 1,
 'Denmark': 5,
 'Ireland': 2,
 'Israel': 18,
 'Italy': 7,
 'Malaysia': 9,
 'Netherlands': 5,
 'Norway': 5,
 'Poland': 7,
 'Republic of Korea': 2,
 'Sweden': 6,
 'Cambodia': 4,
 'Yahya Assiri': 1,
 'SingHealth': 1,
 'Kenya': 3,
 'Brazil': 9,
 'Palestine': 2,
 'Egypt': 4,
 'Jordan': 5,
 'Saudi Arabia': 15,
 'Djibouti': 1,
 'Chile': 3,
 'Lebonon': 1,
 'Somalia': 1,
 'Iraq': 7,
 'Morocco': 3,
 'Syria': 6,
 'Iran': 18,
 'Afghanistan': 7,
 'Serbia': 1,
 'Russia': 22,
 'Oman': 1,
 'Kuwait': 4,
 'Thailand': 7,
 'Guatemala': 1,
 'Bangladesh': 5,
 'South Africa': 4,
 'Suriname': 1,
 'Turkmenistan': 2,
 'Romania': 3,
 'Portugal': 3,
 'Pakistan': 10,
 'Mexico': 3,
 'Uruguay': 1,
 'Vietnam': 6,
 'Phillipines': 2,
 'Taiwan': 14,
 'Aerospace companies based in Arizona': 1,
 'Massachusetts': 1,
 'and Oregon': 1,
 'European Ice Hockey Federation': 1,
 'International Ski Federation': 1,
 'International Biathlon Union': 1,
 'International Bobsleigh and Skeleton Federation': 1,
 'International Luge Federation': 1,
 'AMC Theatres': 1,
 'European Union': 3,
 'American Federation of Labor and Congress of Industrial Organizations': 1,
 'Organization for the Prohibition of Chemical Weapons': 1,
 'Networks and clients of Hewlett Packard Enterprise': 1,
 'IBM': 1,
 'Fujitsu': 1,
 'Tata Consultancy Services': 1,
 'NTT Data': 1,
 'Dimension Data': 1,
 'Computer Sciences Corporation': 1,
 'and DXC Technology': 1,
 'Mammoth Screen': 1,
 'Saipem': 1,
 'Mexican journalists': 1,
 'The Netherlands': 1,
 'Federation Internationale de Football Association (FIFA)': 1,
 'Marriott International Inc': 1,
 'Georgia': 3,
 'International Association of Athletics Federations': 1,
 'Panama': 1,
 'Islam Channel': 1,
 'Asia Pacific Economic Cooperation': 1,
 'Ethnic minorities in China': 1,
 'Korea (Republic of)': 1,
 "Moody's Analytics": 1,
 'Siemens': 1,
 'Trimble': 1,
 'Finland': 2,
 'New Zealand': 3,
 'Kaspersky Labs': 1,
 'Middle East': 1,
 'Belarus': 6,
 'UK Parliament': 1,
 'Czech Republic': 3,
 'Argentina': 2,
 'Peru': 2,
 'Ecuador': 2,
 'Brunei': 1,
 'Bellingcat': 1,
 'Ethiopian dissidents': 1,
 'Ministry of Defense': 2,
 'The 2016 presidential campaign of Marco Rubio': 1,
 'Global': 1,
 'Montenegro': 1,
 "Emmanuel Macron's 2017 presidential election campaign": 1,
 'Uzbekistan': 2,
 'Austria': 1,
 'Israel Defense Force': 1,
 'Aristegui Noticias': 1,
 'Carlos Loret de Mola': 1,
 'Mexicans against Corruption and Impunity': 1,
 'Centro PRODH': 1,
 'Mexican Institute for Competitiveness': 1,
 'Democratic Congressional Campaign Committee': 1,
 'World Anti-Doping Agency': 1,
 'Yahoo': 3,
 'Sony Pictures Entertainment': 1,
 'Bangladesh Bank': 1,
 'Bahrain': 1,
 'Myanmar': 4,
 'Ministry of Foreign Affairs': 3,
 'Rwanda': 1,
 'Philippines': 5,
 'Ukraine Armed Forces': 1,
 'Kazakh dissidents': 1,
 'Council on Foreign Relations': 1,
 'Brookings Institution': 1,
 'Laos': 2,
 'Anthem': 1,
 'Association of Southeast Asian Nations': 1,
 'Uganda': 1,
 'Venezuela': 3,
 'Mali': 1,
 'Algeria': 3,
 'Libya': 2,
 'Pentagon': 1,
 'Office of Personnel Management': 1,
 'Joint Chiefs of Staff': 1,
 'United Airlines': 1,
 'Seoul Subway System': 1,
 'Permanent Court of Arbitration': 1,
 'White House': 1,
 'U.S Department of State': 1,
 'Members of the National Assembly': 1,
 'Dutch Safety Board': 1,
 'Ministry of the Interior': 1,
 'U.S. Department of State': 4,
 'Bundestag': 1,
 'Bureau of Meteorology': 1,
 'Japan Pension Service': 1,
 'Greece': 3,
 'Contractors of U.S. Transportation Command': 1,
 'Kazakhstan': 7,
 'Tajikistan': 1,
 'Lithuania': 2,
 'Azerbaijan': 2,
 'Kyrgyzstan': 2,
 'U.S. government/defense sector websites': 1,
 'Community Health Systems': 1,
 'Westinghouse': 1,
 'Solar World': 1,
 'U.S. Steel': 1,
 'ATI': 1,
 'USW': 1,
 'Alcoa': 1,
 'Colombia': 1,
 'Cuba': 1,
 'National Research Council': 1,
 'USIS': 1,
 'Tunisia': 1,
 'Pro-democracy occupy central activists': 1,
 'Ivory Coast': 1,
 'Apple iCloud in China': 1,
 'Iranian internet activists': 1,
 'U.S. Postal Service': 1,
 'Fiji': 1,
 'Kiribati': 1,
 'U.S. satellite and aerospace sector': 1,
 'National Oceanic and Atmospheric Agency': 1,
 'Ministry of Unification': 1,
 'Sejong Institute': 1,
 'Korea Institute for Defense Analyses': 1,
 'Sri Lanka': 1,
 'Ministry for Foreign Affairs': 1,
 'Armenia': 1,
 'European Aeronautic Defense and Space Company (EADS)': 1,
 'ThyssenKrupp': 1,
 'Indian Defense Research Organization': 1,
 'Defense Research and Development Lab': 1,
 'Hungary': 1,
 'Australian Security Intelligence Organization': 1,
 'Department of the Prime Minister and Cabinet': 1,
 'Department of Defense': 1,
 'Department of Foreign Affairs': 1,
 'and Trade': 1,
 'U.S. Navy': 1,
 'Tajikstan': 1,
 'Coca-Cola': 1,
 'Nortel Networks': 1,
 'Oak Ridge National Laboratory': 2,
 'International Olympic Committee': 1,
 'Democratic Progressive Party': 1,
 'DigiNotar': 1,
 'Mitsubishi Heavy Industries': 1,
 'Sudan': 1,
 'NASA': 5,
 'Treasury Board of Canada': 1,
 'Department of Finance': 1,
 'Defense Research and Development Canada': 1,
 'RSA': 1,
 'U.S. Chamber of Commerce': 1,
 'Google': 1,
 'Adobe': 1,
 'Juniper Networks': 1,
 'Rackspace': 1,
 'Symantec': 1,
 'Northtrop Grumman': 1,
 'Morgan Stanley': 1,
 'Dow Chemical': 1,
 "Prime Minister's Office": 1,
 'Marathon Oil': 1,
 'ExxonMobil': 1,
 'ConocoPhillips': 1,
 'Rio Tinto': 1,
 'BHP Billiton': 1,
 'Fortescue Metals': 1,
 'National Security Council': 1,
 'Ministry of External Affairs': 2,
 'Institute for Defence Studies and Analyses': 1,
 'Latvia': 2,
 'Barbados': 1,
 'Office of Senator Ben Nelson': 1,
 'U.S. Department of Defense': 4,
 'Tibet Support Network': 1,
 'Human Rights in China': 1,
 'Students For a Free Tibet': 1,
 'India National Informatics Centre': 1,
 'Obama Campaign': 1,
 'McCain Campaign': 1,
 'Los Alamos National Laboratory': 1,
 'Lawrence Livermore National Laboratory': 1,
 'U.S. Department of Energy': 2,
 'National Nuclear Security Administration': 1,
 'National Defense University': 1,
 'German Chancellery': 1,
 'Ministry for Economic Affairs and Energy': 1,
 'Ministry of Education and Research': 1,
 'French Defence Ministry': 1,
 'U.S. Department of Homeland Security': 2,
 'Naval War College': 1,
 'UK Ministry of Defense': 1,
 'UK House of Commons': 1,
 'UK Foreign Office': 1,
 'North America': 1}

In [74]:
#make dictionary into table
espionage_count_table = pd.DataFrame(espionage_count.items(),columns = ['Espionage victims','count'])
espionage_count_table = espionage_count_table.sort_values(by=['count'], ascending=False, ignore_index= True)

In [79]:
#export into excel
espionage_count_table.to_excel('result.xlsx', sheet_name = 'espionage', index = False)

2. count sabotage attacks

In [80]:
#in type_table, only keep the rows that is Sabotage
sabotage_table = type_table[type_table.Type == 'Sabotage']

# in espionage_table, only keep the ones that have no missing value
sabotage_table = sabotage_table[sabotage_table.Victims != '']

In [81]:
sabotage_table

                                               Victims      Type
10           Iranian rocket and missile launch systems  Sabotage
23                                             Bahrain  Sabotage
40                                 Islamic State Group  Sabotage
49   Worldwide, United States, United Kingdom, Ukraine  Sabotage
100                                            Ukraine  Sabotage
117                                      United States  Sabotage
118                                  Republic of Korea  Sabotage
122           Ukraine, Japan, Russia, Bulgaria, Turkey  Sabotage
126                     Far Eastern International Bank  Sabotage
150            Cryptocurrency exchanges in South Korea  Sabotage
152                                        North Korea  Sabotage
167  Bangladesh Central Bank, Tien Phong Bank, Banc...  Sabotage
173                            The Islamic State Group  Sabotage
191                                          Ukrenergo  Sabotage
232             Prikarpattiaoblenergo Electric Company  Sabotage
247                          Unnamed German steel mill  Sabotage
321  Iran, Indonesia, India, Azerbaijan, Pakistan, ...  Sabotage
351                                       Saudi Arabia  Sabotage

In [82]:
#take Victims column and split based on ','
sabotage_victims = []
for item in sabotage_table['Victims']:
    if item != '':
        sabotage_victims += item.split(',')

In [83]:
#clean up the extra whitespaces around victim names
for i in range(len(sabotage_victims)):
    sabotage_victims[i] = sabotage_victims[i].strip()

In [84]:
#remove all ''s from list. make sure no ''s in the list
while '' in sabotage_victims:
    sabotage_victims.remove('')

In [85]:
#count how many times each victims occurred
sabotage_count = {}

for item in sabotage_victims:
    if item in sabotage_count:
        sabotage_count[item] += 1
    else:
        sabotage_count[item] = 1

In [87]:
sabotage_count

{'Iranian rocket and missile launch systems': 1,
 'Bahrain': 1,
 'Islamic State Group': 1,
 'Worldwide': 1,
 'United States': 3,
 'United Kingdom': 2,
 'Ukraine': 3,
 'Republic of Korea': 1,
 'Japan': 1,
 'Russia': 2,
 'Bulgaria': 1,
 'Turkey': 1,
 'Far Eastern International Bank': 1,
 'Cryptocurrency exchanges in South Korea': 1,
 'North Korea': 1,
 'Bangladesh Central Bank': 1,
 'Tien Phong Bank': 1,
 'Banco Del Austro': 1,
 'Poland': 1,
 'The Islamic State Group': 1,
 'Ukrenergo': 1,
 'Prikarpattiaoblenergo Electric Company': 1,
 'Unnamed German steel mill': 1,
 'Iran': 1,
 'Indonesia': 1,
 'India': 1,
 'Azerbaijan': 1,
 'Pakistan': 1,
 'Malaysia': 1,
 'Uzbekistan': 1,
 'South Korea': 1,
 'Taiwan': 1,
 'Saudi Arabia': 1}

In [89]:
#make dictionary into table
sabotage_count_table = pd.DataFrame(sabotage_count.items(),columns = ['Sabotage victims','count'])
sabotage_count_table = sabotage_count_table.sort_values(by=['count'], ascending=False, ignore_index= True)

In [90]:
#export into excel
sabotage_count_table.to_excel('result.xlsx', sheet_name = 'sabotage', index = False)

3. count defacement

In [91]:
#in type_table, only keep the rows that is Sabotage
defacement_table = type_table[type_table.Type == 'Defacement']

# in espionage_table, only keep the ones that have no missing value
defacement_table = defacement_table[defacement_table.Victims != '']

In [92]:
defacement_table.head(5)

               Victims        Type
143  Qatar News Agency  Defacement
208          TV5 Monde  Defacement
315              Baidu  Defacement

4. count data destruction

In [96]:
#in type_table, only keep the rows that is Sabotage
data_destruction_table = type_table[type_table.Type == 'Data destruction']

# in espionage_table, only keep the ones that have no missing value
data_destruction_table = data_destruction_table[data_destruction_table.Victims != '']

In [97]:
data_destruction_table.head(5)

                                               Victims              Type
0                                Bayer Pharmaceuticals  Data destruction
19                                 U.S. private sector  Data destruction
129  Rosneft, WPP Plc., Maersk, Cie de Saint-Gobain...  Data destruction
145  FedEx, UK National Health Service, Telefonica,...  Data destruction
166  General Authority of Civil Aviation of Saudi A...  Data destruction

In [98]:
#take Victims column and split based on ','
data_destruction_victims = []
for item in data_destruction_table['Victims']:
    if item != '':
        data_destruction_victims += item.split(',')

In [100]:
#clean up the extra whitespaces around victim names
for i in range(len(data_destruction_victims)):
    data_destruction_victims[i] = data_destruction_victims[i].strip()

#remove all ''s from list. make sure no ''s in the list
while '' in data_destruction_victims:
    data_destruction_victims.remove('')
    

#count how many times each victims occurred
data_destruction_count = {}

for item in data_destruction_victims:
    if item in data_destruction_count:
        data_destruction_count[item] += 1
    else:
        data_destruction_count[item] = 1

In [102]:
data_destruction_count

{'Bayer Pharmaceuticals': 1,
 'U.S. private sector': 1,
 'Rosneft': 1,
 'WPP Plc.': 1,
 'Maersk': 1,
 'Cie de Saint-Gobain': 1,
 'SNCF': 1,
 'Merck': 1,
 'Mondelez': 1,
 'Port of Rosario': 1,
 'Kyivenergo': 1,
 'The government of Ukraine': 1,
 'FedEx': 1,
 'UK National Health Service': 1,
 'Telefonica': 1,
 'Deutsche Bahn': 1,
 'PetroChina': 1,
 'Hitachi': 1,
 'Renault': 1,
 'Nissan': 1,
 'Sberbank': 1,
 'General Authority of Civil Aviation of Saudi Arabia': 1,
 'Russia': 2,
 'Ukraine': 1,
 'Las Vegas Sands Corporation': 1,
 'Saudia Arabia Aramco Company': 1,
 'Iran': 1,
 'Israel': 1,
 'Palestine': 1,
 'Sudan': 1,
 'Syria': 1,
 'Lebanon': 1,
 'Saudi Arabia': 1,
 'Egypt': 1,
 'Hungary': 1,
 'Austria': 1,
 'United Arab Emirates': 1,
 'France': 1}

In [103]:
#make dictionary into table
data_destruction_count_table = pd.DataFrame(data_destruction_count.items(),columns = ['Data Destruction victims','count'])
data_destruction_count_table = data_destruction_count_table.sort_values(by=['count'], ascending=False, ignore_index= True) 

#export into excel
data_destruction_count_table.to_excel('result.xlsx', sheet_name = 'data_destruction', index = False)

4. count DDoS attacks

In [104]:
#in type_table, only keep the rows that is Sabotage
DDoS_table = type_table[type_table.Type == 'Denial of service']

# in espionage_table, only keep the ones that have no missing value
DDoS_table = DDoS_table[DDoS_table.Victims != '']

In [106]:
DDoS_table.head(5)

         Victims               Type
18        Russia  Denial of service
148  North Korea  Denial of service
149   Montenegro  Denial of service
169       Sweden  Denial of service
221       GitHub  Denial of service

In [107]:
#take Victims column and split based on ','
DDoS_victims = []
for item in DDoS_table['Victims']:
    if item != '':
        DDoS_victims += item.split(',')

In [108]:
#clean up the extra whitespaces around victim names
for i in range(len(DDoS_victims)):
    DDoS_victims[i] = DDoS_victims[i].strip()

#remove all ''s from list. make sure no ''s in the list
while '' in DDoS_victims:
    DDoS_victims.remove('')
    

#count how many times each victims occurred
DDoS_count = {}

for item in DDoS_victims:
    if item in DDoS_count:
        DDoS_count[item] += 1
    else:
        DDoS_count[item] = 1

In [109]:
DDoS_count

{'Russia': 1,
 'North Korea': 1,
 'Montenegro': 1,
 'Sweden': 1,
 'GitHub': 1,
 'South Korea': 3,
 'BBC Persian TV': 1,
 'Bank of America': 2,
 'Citigroup': 2,
 'Wells Fargo': 2,
 'US Bancorp': 2,
 'PNC': 2,
 'Capital One': 2,
 'Fifth Third Bank': 2,
 'BB&T': 2,
 'HSBC': 2,
 'National Agricultural Cooperative Federation': 1,
 'U.S. Forces Korea': 1,
 'Vietnamese political activists': 1,
 'United States': 1,
 'Georgia': 1,
 'Estonia': 1,
 'China Aerospace Science & Industry Corporation': 1,
 'National Defense Research Institutes': 1,
 'Military Industrial Labs': 1,
 'Ministry of Foreign Affairs': 1,
 'Syrian Arab Air Force': 1}

In [111]:
#make dictionary into table
DDoS_count_table = pd.DataFrame(DDoS_count.items(),columns = ['DDoS victims','count'])
DDoS_count_table = DDoS_count_table.sort_values(by=['count'], ascending=False, ignore_index= True) 

#export into excel
DDoS_count_table.to_excel('result.xlsx', sheet_name = 'DDoS', index = False)

#### Next, I am interested in a line graph showing the types of attacks (espionage, sabotage, data destruction, defacement, denial of service) as a time series.

#### If we have time (which we probably won’t): I would like to create a slide for APTs. Hilda, could you write a VB script to identify the specific APTs (APT 1, APT 2, etc) within the dataset and count the number of attacks committed by them? Could you then link that to the type of attack?